@keyframes latidos {
    from {
        transform: none;
    }
    50% {
        transform: scale(1.1);
    }
    to {
        transform: none;
    }
}

.corazon {
    display: inline-block;
    text-shadow: 0 0 2px #222, 1px 1px 0 #450505;
    animation: latidos 1s infinite;
    transform-origin: center;
}

